<div class="results">
  {{#each searchResult as |result resultIndex|}}
    <div class="result-container">
      <h1 class="p-title">
        {{or result.name result.cveUid}}
      </h1>
      {{#if (not (or result.email result.cveUid))}}
        <div class="mb-1">
          <a href="{{block.userOptions.url}}/inventory/devices/{{result.id}}/">
            View Device in Armis
            {{fa-icon icon="external-link" class="external-link" fixedWidth=true}}
          </a>
        </div>
      {{/if}}
      {{#if result.cveUid}}
        <div class="mb-1">
          <a
            href="{{block.userOptions.url}}/entities/vulnerabilities/{{result.cveUid}}/overview/"
          >
            View Vulnerability in Armis
            {{fa-icon icon="external-link" class="external-link" fixedWidth=true}}
          </a>
        </div>
      {{/if}}

      {{#if result.tags}}
        <div class="tags">
          {{#each result.tags as |tag|}}
            <span class="tag">{{tag}}</span>
          {{/each}}
        </div>
      {{/if}}
      {{#if result.threatTags}}
        <div class="tags">
          {{#each result.threatTags as |tag|}}
            <span class="tag">{{tag}}</span>
          {{/each}}
        </div>
      {{/if}}

      {{#if result.riskLevel}}
        <div>
          <span class="p-key">Risk Score:</span>
          <span
            class="p-value risk-score
              {{if (lte result.riskLevel 10) 'green'}}{{if
                (and (gt result.riskLevel 10) (lt result.riskLevel 80))
                'yellow'
              }}{{if (and (gte result.riskLevel 80) (lt result.riskLevel 100)) 'red'}}{{if
                (eq result.riskLevel 100)
                'dark-red'
              }}"
          >{{#if (lte result.riskLevel 10)}}Low{{else if
              (and (gt result.riskLevel 10) (lt result.riskLevel 80))
            }}Medium{{else if
              (and (gte result.riskLevel 80) (lt result.riskLevel 100))
            }}High{{else if (eq result.riskLevel 100)}}Critical{{else}}Unknown{{/if}}
            ({{result.riskLevel}})</span>
        </div>
      {{/if}}

      {{#if result.email}}
        <div>
          <span class="p-key">Email:</span>
          <span class="p-value">{{result.email}}</span>
        </div>
      {{/if}}
      {{#if result.username}}
        <div>
          <span class="p-key">Username:</span>
          <span class="p-value">{{result.username}}</span>
        </div>
      {{/if}}
      {{#if result.phone}}
        <div>
          <span class="p-key">Phone Number:</span>
          <span class="p-value">{{result.phone}}</span>
        </div>
      {{/if}}
      {{#if result.properties}}
        {{#if result.properties.title}}
          <div>
            <span class="p-key">Title:</span>
            <span class="p-value">{{result.properties.title}}</span>
          </div>
        {{/if}}
        {{#if result.properties.department}}
          <div>
            <span class="p-key">Department:</span>
            <span class="p-value">{{result.properties.department}}</span>
          </div>
        {{/if}}
        {{#if result.properties.domain}}
          <div>
            <span class="p-key">Domain:</span>
            <span class="p-value">{{result.properties.domain}}</span>
          </div>
        {{/if}}
      {{/if}}

      {{#if result.status}}
        <div>
          <span class="p-key">Status:</span>
          <span class="p-value">{{result.status}}</span>
        </div>
      {{/if}}
      {{#if result.cvssScore}}
        <div>
          <span class="p-key">CVSS Score:</span>
          <span
            class="p-value risk-score
              {{if (lt result.cvssScore 4) 'green'}}{{if
                (and (gte result.cvssScore 4) (lt result.cvssScore 7))
                'yellow'
              }}{{if (and (gte result.cvssScore 7) (lt result.cvssScore 10)) 'red'}}{{if
                (eq result.cvssScore 10)
                'dark-red'
              }}"
          >{{#if (lt result.cvssScore 4)}}Low{{else if
              (and (gte result.cvssScore 4) (lt result.cvssScore 7))
            }}Medium{{else if
              (and (gte result.cvssScore 7) (lt result.cvssScore 10))
            }}High{{else if (eq result.cvssScore 10)}}Critical{{else}}Unknown{{/if}}
            ({{result.cvssScore}})</span>
        </div>
      {{/if}}
      {{#if result.avmRating}}
        <div>
          <span class="p-key">AMV Rating:</span>
          <span
            class="p-value risk-score
              {{if (eq result.avmRating 'LOW') 'green'}}{{if
                (eq result.avmRating 'MEDIUM')
                'yellow'
              }}{{if (eq result.avmRating 'HIGH') 'red'}}{{if
                (eq result.avmRating 'CRITICAL')
                'dark-red'
              }}"
          >{{titleize (humanize (dasherize result.avmRating))}}</span>
        </div>
      {{/if}}
      {{#if result.earlyWarningType}}
        <div>
          <span class="p-key">Early Warning Type:</span>
          <span class="p-value">{{join ", " result.earlyWarningType}}</span>
        </div>
      {{/if}}
      {{#if result.severity}}
        <div>
          <span class="p-key">Severity:</span>
          <span class="p-value">{{result.severity}}</span>
        </div>
      {{/if}}
      {{#if result.description}}
        <div>
          <span class="p-key">Description:</span>
          <span class="p-value">{{result.description}}</span>
        </div>
      {{/if}}
      {{#if result.numOfExploits}}
        <div>
          <span class="p-key">Number Of Exploits:</span>
          <span class="p-value">{{result.numOfExploits}}</span>
        </div>
      {{/if}}

      {{#if result.businessImpact}}
        <div>
          <span class="p-key">Business Impact:</span>
          <span class="p-value">{{result.businessImpact}}</span>
        </div>
      {{/if}}
      {{#if result.macAddress}}
        <div>
          <span class="p-key">MAC Address:</span>
          <span class="p-value">{{result.macAddress}}</span>
        </div>
      {{/if}}
      {{#if result.ipAddress}}
        <div>
          <span class="p-key">IP Address:</span>
          <span class="p-value">{{result.ipAddress}}</span>
        </div>
      {{/if}}
      {{#if result.sensor.name}}
        <div>
          <span class="p-key">Access Switch:</span>
          <span class="p-value">{{result.sensor.name}}</span>
        </div>
      {{/if}}
      {{#if result.site.name}}
        <div>
          <span class="p-key">Site Location:</span>
          <span class="p-value">{{result.site.name}}</span>
        </div>
      {{/if}}

      {{#if (and (not result.email) result.name)}}
        {{#if (get expandableTitleStates (concat "device" resultIndex))}}
          <a
            href="#"
            class="expandable-title"
            {{on "click" (action "toggleExpandableTitle" (concat "device" resultIndex))}}
          >
            <span class="text">Device Basics</span>
            {{fa-icon "angle-up"}}
          </a>
          <div class="ml-1 mb-1">
            {{#if result.name}}
              <div>
                <span class="p-key">Name:</span>
                <span class="p-value">{{result.name}}</span>
              </div>
            {{/if}}
            {{#if result.category}}
              <div>
                <span class="p-key">Category:</span>
                <span class="p-value">{{result.category}}</span>
              </div>
            {{/if}}
            {{#if result.type}}
              <div>
                <span class="p-key">Type:</span>
                <span class="p-value">{{result.type}}</span>
              </div>
            {{/if}}
            {{#if result.manufacturer}}
              <div>
                <span class="p-key">Brand:</span>
                <span class="p-value">{{result.manufacturer}}</span>
              </div>
            {{/if}}
            {{#if result.model}}
              <div>
                <span class="p-key">Model:</span>
                <span class="p-value">{{result.model}}</span>
              </div>
            {{/if}}
            {{#if result.operatingSystem}}
              <div>
                <span class="p-key">Operating System:</span>
                <span class="p-value">{{result.operatingSystem}}{{#if
                    result.operatingSystemVersion
                  }} {{result.operatingSystemVersion}}{{/if}}</span>
              </div>
            {{/if}}
            {{#if result.firstSeen}}
              <div>
                <span class="p-key">First Seen:</span>
                <span class="p-value">{{moment-format
                    result.firstSeen
                    "MM/DD/YYYY HH:mm:ss"
                    timeZone=timezone
                  }}</span>
              </div>
            {{/if}}
            {{#if result.lastSeen}}
              <div>
                <span class="p-key">Last Seen:</span>
                <span class="p-value">{{moment-format
                    result.lastSeen
                    "MM/DD/YYYY HH:mm:ss"
                    timeZone=timezone
                  }}</span>
              </div>
            {{/if}}
          </div>
        {{else}}
          <a
            href="#"
            class="expandable-title"
            {{on "click" (action "toggleExpandableTitle" (concat "device" resultIndex))}}
          >
            <span class="text">Device Basics</span>
            {{fa-icon "angle-down"}}
          </a>
        {{/if}}
      {{else}}
        {{#if result.firstSeen}}
          <div>
            <span class="p-key">First Seen:</span>
            <span class="p-value">{{moment-format
                result.firstSeen
                "MM/DD/YYYY HH:mm:ss"
                timeZone=timezone
              }}</span>
          </div>
        {{/if}}
        {{#if result.lastSeen}}
          <div>
            <span class="p-key">Last Seen:</span>
            <span class="p-value">{{moment-format
                result.lastSeen
                "MM/DD/YYYY HH:mm:ss"
                timeZone=timezone
              }}</span>
          </div>
        {{/if}}
      {{/if}}

      {{#if result.dataSources.length}}
        {{#if (get expandableTitleStates (concat "dataSources" resultIndex))}}
          <a
            href="#"
            class="expandable-title"
            {{on
              "click"
              (action "toggleExpandableTitle" (concat "dataSources" resultIndex))
            }}
          >
            <span class="text">Sources</span>
            {{fa-icon "angle-up"}}
          </a>
          <div class="ml-1">
            {{#each result.dataSources as |source|}}
              {{#if source.name}}
                <div class="mb-1">
                  -
                  {{source.name}}{{#if source.types}} ({{join ", " source.types}}){{/if}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{else}}
          <a
            href="#"
            class="expandable-title"
            {{on
              "click"
              (action "toggleExpandableTitle" (concat "dataSources" resultIndex))
            }}
          >
            <span class="text">Sources</span>
            {{fa-icon "angle-down"}}
          </a>
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>